<div class="bg-orange black-90 lh-copy mt5 pv5">
  <p class="ma0 pa0 ml4">Built with ♻ <a class="dim black-90" href="https://github.com/asimpson/cycle">Cycle</a>, <a class="dim black-90" href="http://tachyons.io/">Tachyons</a>, and <a class="dim black-90" href="https://www.gnu.org/software/emacs/">Emacs</a> in the Midwest.</p>
</div>
<script data-goatcounter="https://asimpson.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>