<div class="mt5 mb4">
  <p class="f6 ma0 pa0 ml4">Built with ♻ <a class="dim black-90" href="https://github.com/asimpson/cycle">Cycle</a> and <a class="dim black-90" href="https://www.gnu.org/software/emacs/">Emacs</a> in the Midwest.</p>
  <p class="f6 ma0 pa0 ml4 mt2">🔑 <a class="dim black-90" href="/key.pub">PGP Key</a></p>
</div>