<div class="h2 mt5 mb2">
  <p class="f6 pt2 ma0 pa0 ml4">Built with ♻ <a class="black-90" href="https://github.com/asimpson/cycle">Cycle</a> and <a class="black-90" href="https://www.gnu.org/software/emacs/">Emacs</a> in the Midwest.</p>
</div>