<head>
  <meta charset="utf-8">
  {{#title}}
    <title>{{title}}</title>
  {{/title}}
  {{^title}}
    <title>adamsimpson.net</title>
  {{/title}}
  {{#description}}
    {{^link}}
      <meta name="description" content="{{description}}">
    {{/link}}
    {{#link}}
      <meta name="description" content="Link to: {{link}}">
    {{/link}}
  {{/description}}
  {{^description}}
    <meta name="description" content="The design and development log of Adam Simpson.">
  {{/description}}
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
  <link href="/rss.xml" title="adamsimpson.net" rel="alternate" type="application/rss+xml">
  <link href="https://micro.blog/simpson" rel="me" />
  <link href="https://twitter.com/a_simpson" rel="me" />
  <link href="https://github.com/asimpson" rel="me" />
  <link rel="pgpkey" href="/key.pub">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <meta name="theme-color" content="#ffffff">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@a_simpson" />
  {{#title}}
    <meta name="twitter:title" content="{{title}}" />
  {{/title}}
  {{^title}}
    <meta name="twitter:title" content="adamsimpson.net" />
  {{/title}}
  {{#description}}
    {{^link}}
      <meta name="twitter:description" content="{{description}}" />
    {{/link}}
    {{#link}}
      <meta name="twitter:description" content="Link to: {{link}}" />
    {{/link}}
  {{/description}}
  {{^description}}
    <meta name="twitter:description" content="The design and development log of Adam Simpson." />
  {{/description}}
  <link rel='canonical' href="https://adamsimpson.net{{slug}}">
  <style>
    {{css}}
  </style>
</head>