<header class="mh4 mw7 flex justify-between items-center">
  <div class="logo mv4">
    {{> logo}}
  </div>
  <nav>
    <a class="nav-link dim dark-green mr1" href="/uses">/uses</a>
    <a class="nav-link dim dark-green mr1" href="/support">/support</a>
    <a class="nav-link dim dark-green" href="/archive">/archive</a>
    <a class="nav-link dim dark-green" href="/rss.xml">rss</a>
  </nav>
</header>