<article class="mw7 mh4">
  <div>
    {{#link}}
      <h1 class="black mb0"><a href="{{link}}">{{title}}</a></h1>
    {{/link}}
    {{^link}}
      <h1 class="black mb0">{{title}}</h1>
    {{/link}}
    <time class="db f6 mb2 mt2" datetime={{pub_date}}>{{formattedDate}}</time>
    <div class="lh-copy measure-wide">
      {{{content}}}
      <div class="bg-light-gray pa3">
        Have a comment? <a href="mailto:~asimpson/public-inbox@lists.sr.ht?Subject=Re: {{title}}">Send an email</a> to my <a href="https://lists.sr.ht/~asimpson/public-inbox">public inbox</a>. Please follow <a href="https://man.sr.ht/lists.sr.ht/etiquette.md">proper mail etiquette</a>.
      </div>
    </div>
  </div>
</article>
