<!doctype html>
<html class="no-js" lang="en">
  {{> head}}
  <body class="black-90 sans-serif">
    <div class="logo mb4 mt4 ml4">
      {{> logo}}
    </div>
    <div>
      <ul class="list mw7 pa0 ml4 mr4">
        {{#posts}}
        <li class="mb5">
          <a href="/writing/{{slug}}.html" class="mb1 b ttu db f4 dark-green no-underline underline-hover">{{title}}</a>
          <div class="f6">{{published}}</div>
          <div class="measure-wide lh-copy mt2">
            {{{excerpt}}}
          </div>
        </li>
        {{/posts}}
      </ul>
      <div class="flex">
        {{#prev}}
          <div class="ml4">← <a class="dark-green" href="/writing/{{prev}}.html">Previous</a></div>
        {{/prev}}
        {{#next}}
          <div class="ml4"><a class="dark-green" href="/writing/{{next}}.html">Next</a> →</div>
        {{/next}}
      </div>
    </div>
    {{> footer}}
  </body>
</html>
