<!doctype html>
<html class="no-js" lang="en">
  {{> head}}
  <body class="black-90 sans-serif">
    {{> header}}
    <div>
      <ul class="list mw7 pa0 ml4 mr4">
        {{#posts}}
        <li class="mb4">
          {{^link}}
            <a href="/writing/{{slug}}" class="mb1 b dark-green no-underline underline-hover">{{title}}</a>
          {{/link}}
          {{#link}}
            <a href="{{link}}" class="mb1 b dark-green no-underline underline-hover">{{title}}</a>
          {{/link}}
          <div>{{published}}</div>
          <div class="measure-wide lh-copy mt2">
            {{^link}}
              {{{excerpt}}}
            {{/link}}

            {{#link}}
              {{{content}}}

              <a class="db dark-green no-underline underline-hover" href="/writing/{{slug}}">🔗 Permalink</a>
            {{/link}}
          </div>
        </li>
        {{/posts}}
      </ul>
    </div>
    {{> footer}}
  </body>
</html>
