<!doctype html>
<html class="no-js" lang="en">
  {{> head}}
  <body class="black-90 sans-serif">
    <div class="logo mv4 ml4">
      {{> logo}}
    </div>
    <div>
      <ul class="list mw7 pa0 mh4">
        {{#posts}}
        <li class="mb5">
          <a href="/writing/{{slug}}.html" class="mb1 b ttu db f4 dark-green no-underline underline-hover">{{title}}</a>
          <div class="f6">{{published}}</div>
          <div class="lh-copy mt2 measure-wide">
            {{{excerpt}}}
          </div>
        </li>
        {{/posts}}
      </ul>
      <div class="ml4"><a class="dark-green" href="/writing/2.html">Next</a> →</div>
    </div>
    {{> footer}}
  </body>
</html>