<!doctype html>
<html class="no-js" lang="en">
  {{> head}}
  <body class="black-90 sans-serif">
    <div class="logo mb4 mt4 ml4">
      {{> logo}}
    </div>
    {{> post_body}}
    <footer>
      {{> footer}}
      <script async defer src="/js/twitter-widget.js"></script>
    </footer>
  </body>
</html>
