<!doctype html>
<html class="no-js" lang="en">
  {{> head}}
  <body>
    <div class="logo-wrapper pl-max-width">
      <div class="logo">
        {{> logo}}
      </div>
    </div>
    {{> post_body}}
    <footer>
      <script async defer src="/js/twitter-widget.js"></script>
    </footer>
  </body>
</html>
