<!doctype html>
<html class="no-js" lang="en">
  {{> head}}
  <body class="black-90 sans-serif">
    <div class="logo mb4 mt4 ml4">
      {{> logo}}
    </div>
    {{> post_body}}
    <script src="https://utteranc.es/client.js"
            repo="asimpson/blog-comments"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
    <footer>
      {{> footer}}
      <script async defer src="/js/twitter-widget.js"></script>
    </footer>
  </body>
</html>
