<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>adamsimpson.net Post Feed</title>
    <link>https://adamsimpson.net/</link>
    <description>Last 20 posts for adamsimpson.net</description>
    <lastBuildDate>{{now}}</lastBuildDate>
    <language>en-us</language>

    {{#posts}}
      <item>
        <title>{{title}}</title>
        {{#link}}
          <link>{{link}}</link>
        {{/link}}
        {{^link}}
          <link>https://adamsimpson.net/writing/{{slug}}</link>
        {{/link}}

        <guid>https://adamsimpson.net/writing/{{slug}}</guid>
        <pubDate>{{date}}</pubDate>

        {{^link}}
          <description>
            <![CDATA[ {{{excerpt}}} ]]>
          </description>
          <content:encoded><![CDATA[ {{{content}}} ]]></content:encoded>
        {{/link}}

        {{#link}}
          <content:encoded><![CDATA[ {{{content}}} <a title="permalink for {{title}}" href="https://adamsimpson.net/writing/{{slug}}">🔗</a> ]]></content:encoded>
        {{/link}}
      </item>
    {{/posts}}
  </channel>
</rss>